# This file tells Git which files shouldn't be added to source control

.idea
dist
node_modules
storage/*
!storage/.gitkeep
!storage/screenshots/
!storage/screenshots/.gitkeep
!storage/cookies/
!storage/cookies/.gitkeep
!storage/raw-extracts/
!storage/raw-extracts/.gitkeep
